asgiref==3.7.2
autopep8==2.0.2
certifi==2023.5.7
charset-normalizer==3.1.0
distlib==0.3.6
Django==4.2.3
docutils==0.20.1
filelock==3.12.2
gunicorn==21.1.0
idna==3.4
Kivy==2.2.1
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.gstreamer==0.3.3
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
packaging==23.1
Pillow==10.0.0
pipenv==2023.7.11
platformdirs==3.9.1
psycopg2-binary==2.9.6
pycodestyle==2.10.0
Pygments==2.15.1
pypiwin32==223
pywin32==306
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.3
virtualenv==20.24.0
virtualenv-clone==0.5.7
